/* Write your CSS here */
.emoji-item {
  width: 24%;
  height: 24%;
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

.emoji-icon {
  height: 65px;
  width: 65px;
}

.emoji-btn {
  background-color: #ffffff33;
  cursor: pointer;
  outline: none;
  width: 90%;
  height: 160px;
  border: 3px solid #ffffff30;
  border-radius: 24px;
}

.emoji-icon {
  width: 70px;
}

