.fg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
.ab {
  background-color: #1a202c;
  height: 100vh;
  width: 100vw;
  color: white;
}
.mn {
  height: 80vh;
  width: 100vw;
  background-color: #1a202c;
}
.a1 {
  height: 110px;
  width: 110px;
  margin: 5px;
  padding: 5px;
  background-color: lightblue;
  font-size: 25px;
  text-align: center;
  font-weight: 450;
  color: purple;
}
.first {
  height: 20vh;
  width: 100vw;
  background-color: #1a202c;
  display: flex;
  justify-content: center;

  text-align: center;
}
.snd {
  display: flex;
  text-align: center;
  padding: 80px;
}
.hdng {
  color: white;
  height: 87px;
  width: 448px;
  left: 496px;
  top: 128px;
  border-radius: nullpx;
  font-family: Bree Serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  margin: 60px;
}
.c1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  width: 100vw;

  background-color: #1a202c;
}
.bc5 {
  font-size: 30px;
  background-color: red;
  height: 160px;
  width: 260px;
}
.bc35 {
  font-size: 20px;
  background-color: #1a202c;

  color: white;
}
.bc6 {
  font-size: 30px;
  background-color: green;
  height: 160px;
  width: 260px;
}
.ji {
  color: yellow;
}

@media screen and (max-width: 575px) {
  .ab {
    height: 900px;
    width: 600px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #1a202c;
  }
  .m1n {
    height: 90%;
    width: 60%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }

  .hdng {
    color: white;
    height: 87px;
    width: 448px;
    left: 496px;
    top: 128px;
    border-radius: nullpx;
    font-family: Bree Serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
  }
  .fg {
    display: flex;
    width: 80%;

    padding: 0px;
    max-width: 1000px;
  }
  .h1n {
    font-size: 25px;
    margin: 10px;
  }
}

