.a2 {
  width: 20%;
  list-style-type: none;
  height: 100px;
  background-color: aqua;
  margin-top: 8px;
  margin-bottom: 8px;
}
.b {
  height: 100%;
  width: 100%;
  background-color: aqua;
}

@media screen and (max-width: 575px) {
  .a2 {
    height: 75px;
    width: 20%;
    left: 63px;
    top: 236px;
    border-radius: 0px;
    list-style-type: none;
    background-color: aqua;
  }
}

